.FirstPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("/src/Pictures/Fon_s_belym_nizom.png");
    background-size: cover;
    background-position: bottom center;
}
.ContLangSelector {
    width: 95%;
    height: 37%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.MyInfo {
    margin-top: 100px;
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Contacts {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ContactsElement {
    height: 100%;
    display: flex;
    align-items: center;
}
.ContactsElementText {
    padding-left: 10px;
}
.ContactsElement img {
    width: 45px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.8;
}
.ContactsGitElement {
    height: 100%;
    display: flex;
    align-items: center;
}
.ContactsGitElement img {
    width: 45px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.6;
}
.LangSelector {
    width: 20%;
    height: 100%;
    display: flex;
}
.FirstPageImage {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background-image: url("/src/Pictures/Timur_v_kruzhochke.png");
    background-size: cover;
}
.FirstPageName {
    width: 100%;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    color: white;
    cursor: default;
}
.FirstPageProf {
    font-family: 'Roboto', sans-serif;
    color: lightgrey;
    font-size: 28px;
    cursor: default;
}
.FirstPageSite {
    font-family: 'Roboto', sans-serif;
    color: lightgrey;
    font-size: 18px;
    margin-top: 15px;
    cursor: default;
}
.arrow {
    width: 50px;
    cursor: pointer;
}
.LangSelector {
    width: 200px;
    height: 150px;
    display: flex;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}
.LangSelector Select {
    margin-left: 20px;
    margin-top: 5px;
    width: 100px;
    height: 30px;
}
@media screen and (max-height: 1200px) {
    .MyInfo {
        height: 60%;
    }
    .arrow {
        margin-top: 20px;
    }
}
@media screen and (max-height: 750px) {
    .arrow {
        margin-top: 20px;
    }
    .MyInfo {
        margin-top: 0px;
    }
}
@media screen and (max-width: 1200px) {
    .FirstPageImage {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: 800px) {
    .FirstPageImage {
        width: 150px;
        height: 150px;
    }
    .FirstPageName {
        font-size: 40px;
    }
    .FirstPageProf {
        font-size: 20px;
    }
    .FirstPageSite {
        font-size: 15px;
    }
}
@media screen and (max-width: 460px) {
    .FirstPageImage {
        width: 100px;
        height: 100px;
    }
    .FirstPageName {
        font-size: 30px;
    }
    .FirstPageProf {
        font-size: 15px;
    }
    .FirstPageSite {
        font-size: 11px;
    }
    .arrow {
        width: 20px;
    }
}