.Project4 {
    width: 100vw;
    height: 100%;
    display: flex;
}
.ProjectInfo {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ProjectPic {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.ProjectInfoHeader {
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: black;
    cursor: default;
    white-space: pre-line;
}
.ProjectInfoTech {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 24px;
    cursor: default;
    white-space: pre-line;
}
.ProjectInfoFunc {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 20px;
    cursor: default;
    white-space: pre-line;
}
.ProjectPicImg {
    width: 90%;
    height: 41%;
    background: url("/src/Pictures/PortfolioWork4.png") no-repeat;
    background-size: contain;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
}
.LinkToProj {
    width: 45%;
    height: 8%;
    background-color: rgba(221, 221, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(30, 44, 81);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    cursor: pointer;
    margin-top: 50px;
}
.LinkToProj:hover {
    box-shadow: 0px 0px 35px 11px rgba(34, 60, 80, 0.22);
    transition: 0.5s;
}
@media screen and (max-width: 1250px) {
    .ProjectInfoHeader {
        font-size: 25px;
    }
    .ProjectInfoTech {
        font-size: 15px;
    }
    .ProjectInfoFunc {
        font-size: 14px;
    }
    .LinkToProj {
        font-size: 15px;
    }
}
@media screen and (max-width: 700px) {
    .ProjectInfoHeader {
        font-size: 22px;
        width: 90%;
    }
    .ProjectInfoTech {
        font-size: 14px;
    }
    .ProjectInfoFunc {
        font-size: 13px;
    }
    .LinkToProj {
        font-size: 11px;
    }
}
@media screen and (max-width: 460px) {
    .Project4 {
        display: flex;
        flex-direction: column;
    }

    .ProjectInfo {
        width: 90%;
        height: 50%;
        align-items: center;
    }

    .ProjectPic {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
    }

    .ProjectPicImg {
        width: 80%;
        height: 70%;
        margin-top: 15px;
    }

    .ProjectInfoHeader {
        font-size: 15px;
        width: 80%;
    }

    .ProjectInfoTech {
        width: 100%;
        font-size: 11px;
    }

    .ProjectInfoFunc {
        width: 100%;
        font-size: 10px;
    }

    .LinkToProj {
        width: 45%;
        height: 15%;
        font-size: 13px;
        margin-top: 10px;
    }
}