.Portfolio {
    width: 80%;
    height: 1000px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PortfolioHeader {
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    cursor: default;
}
.PortfolioBoxes {
    width: 90%;
    height: 90%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.PortfolioWork {
    width: 95%;
    height: 20%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
}
.PortfolioWorkContent {
    width: 70%;
    height: 100%;
    background-color: cornflowerblue;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}
.Description {
    width: 95%;
    height: 50%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.Functions {
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
}
.PortfolioWorkPic1 {
    width: 30%;
    height: 100%;
    background-image: url("/src/Pictures/PortfolioWork1.png");
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.PortfolioWorkPic2 {
    width: 30%;
    height: 100%;
    background-image: url("/src/Pictures/PortfolioWork2.png");
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.PortfolioWorkPic3 {
    width: 30%;
    height: 100%;
    background-image: url("/src/Pictures/PortfolioWork3.png");
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.PortfolioWorkPic4 {
    width: 30%;
    height: 100%;
    background-image: url("/src/Pictures/PortfolioWork4.png");
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.PortfolioWorkButton {
    width: 200px;
    height: 60px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}