.NavBar {
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgray;
    position: fixed;
}
.MyName {
    width: 20%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
}
.NavBarPhoto {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 15px;
    background-image: url("/src/Pictures/NavBarPic.jpg");
    background-size: cover;
    background-position: center center;
}
.NavBarLinks {
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.NavBarLinksElement {
    width: 15%;
    height: 95%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-left: 15px;
}
.Switcher {
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Switcher select {
    width: 99px;
    height: 30px;
}