.AboutMeInfo {
    width: 100vw;
    height: 250px;
    background-color: rgba(196, 201, 231);
    display: flex;
    justify-content: center;
}
.AboutMeInfoImg {
    width: 50%;
    height: 100%;
    background: url("/src/Pictures/Kist2.png") no-repeat center center;
    background-size: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    cursor: default;
    color: rgba(30, 44, 81);
}
@media screen and (max-width: 1100px) {
    .AboutMeInfo {
        height: 200px;
    }
    .AboutMeInfoImg {
        font-size: 45px;
    }
}
@media screen and (max-width: 700px) {
    .AboutMeInfo {
        height: 150px;
    }
    .AboutMeInfoImg {
        font-size: 35px;
    }
}
@media screen and (max-width: 460px) {
    .AboutMeInfoImg {
        background-size: 150px;
        font-size: 25px;
    }
    .AboutMeInfo {
        height: 120px;
        margin-top: 10px;
    }
}